<div mat-dialog-title>
    <h4>{{this.extendModalTitle}}</h4>
    <h4>{{incomeData.Title}}</h4>
</div>
<mat-dialog-content>
    <div class="container-datos">
        <div class="container-datos">
            <ul class="lista-datos">
                <li *ngFor="let item of incomeData | keyvalue ;let i = index">
                    <label>{{ item.key }}</label>
                    <ng-container *ngIf="!isValueArray(item.value)">
                        <span>{{ item.value }}</span>
                    </ng-container>
                    <div *ngIf="isValueObject(item.value)  ">
                        <button #relaciones class="ver" (click)="extras(i)">ver mas</button>
                        <div  class="herencias">
                            <div class="container-relaciones" >
                                <button class="Close" (click)="close(i)">X</button> 
                                <ul class="tablas-relaciones">
                                    <div *ngFor="let obj of object | keyvalue">
                                        <ul>
                                            <li>
                                                <label>{{obj.key}}</label>
                                                <span>{{obj.value}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</mat-dialog-content>