<div mat-dialog-title> {{this.extendModalTitle}} <button class="close" mat-dialog-close>⦻</button></div>
<form [formGroup]="formExtend" novalidate>
    <mat-dialog-content>
        <div class="form-body">
            <div class="form-content" *ngFor="let fill of this.filler">
                <div class="form-item" *ngIf="fill.type == 'input' && fill.control != 'file'">
                    <label [for]="fill.formControlName">{{fill.fieldName}}</label>
                    <input [type]="fill.control" [formControlName]="fill.formControlName || ''"
                        [(ngModel)]="fill.ngModel" (keyup)="  fill.uppercase ? convertToUppercase(fill) : '' "
                        [placeholder]="fill.placeholder" required />
                </div>
                <div class="form-item" *ngIf="fill.type == 'input' &&  fill.control == 'file'">
                    <label [for]="fill.formControlName">{{fill.fieldName}}</label>
                    <input type="file" [formControlName]="fill.formControlName || ''"
                         (change)="fill.control ? onFileChangeDoc($event, fill.fieldName) : ''"  />
                </div>  
                <div class="form-item" *ngIf="fill.type == 'select'">
                    <label [for]="fill.formControlName">{{fill.fieldName}}</label>
                    <div class="update">
                        <select [formControlName]="fill.formControlName || ''" required>
                            <option selected *ngIf="fill.dataPlacer.length < 1" value="" disabled hidden> Seleccionar
                                {{fill.fieldName}}
                            </option>
                            <option *ngFor='let item of fill.data' [value]="item.dataId">{{item.data}}</option>
                        </select>
                        <button *ngIf="fill.extend" class="add"
                            (click)="openUpdate(fill.extend, fill.fieldName)"></button>
                    </div>
                </div>
                <div class="form-item" *ngIf="fill.type == 'textarea'">
                    <label [for]="fill.formControlName">{{fill.fieldName}}</label>
                    <textarea [formControlName]="fill.formControlName || ''" rows="4" cols="40" required="true"
                        [placeholder]="fill.placeholder">
                    </textarea>
                </div>
                <div class="form-item" *ngIf="fill.type=='radio'">
                    <p>{{fill.fieldName}}</p>
                    <label [for]="fill.formControlName" *ngFor="let item of fill.data">
                        <input type="radio" [name]="fill.formControlName!" [value]="item.dataId"
                            [formControlName]="fill.formControlName!" required="true">
                        {{item.data}}
                    </label>
                </div>
                <div class="form-item" *ngIf="fill.type=='checkbox'">
                    <p>{{fill.fieldName}}</p>
                    <label class="switch"> <input type="checkbox" (change)="selectAll(fill.data!)">
                        <div class="slide round"></div>
                        <p>Seleccionar todos</p>
                    </label>
                    <div class="split">
                        <label class="switch" *ngFor="let item of fill.data">
                            <input type="checkbox" [name]="item.data" [formControlName]="item.data">
                            <div class="slide round"></div>
                            <p>{{item.data}}</p>
                        </label>
                    </div>
                </div>
                <div class="display-table form-item" *ngIf="fill.type =='display'">
                    <div class="title">
                        <p> {{fill.fieldName}} </p>
                        <div class="actions">
                            <button (click)="toggleClass()" class="extend"> ⏷
                            </button>
                        </div>
                    </div>
                    <div class="container" [class.expand]="expandState">
                        <div class="information" *ngFor="let display of fill.display">
                            <button (click)="deleteItem(display.inc!, fill.fieldName)"><img
                                    src="../../../assets/icons/delete.svg"></button>
                            <div class="data-container">
                                <div class="data" *ngFor="let item of display.data">
                                    <p *ngIf="item.title !== 'id'"> {{item.title}} : </p>
                                    <p *ngIf="item.title !== 'id'"> {{item.desc}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="fill.extend" class="add" (click)="openUpdate(fill.extend, fill.fieldName)"> Añadir
                        {{fill.fieldName}}
                    </button>

                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>

        <button type="submit" [disabled]="!formExtend.valid" class="add" (click)="saveData()">
            Aceptar
        </button>
        <button mat-dialog-close class="cancel">
            Cancelar
        </button>
    </mat-dialog-actions>
</form>