<app-description [view]="this.description"></app-description>


<a><button (click)="openModalCreate()" class="add">Añadir</button></a>

<app-icon-chart [view]="this.view" (dataToUpdate)="Update($event)" (dataToDelete)="Delete($event)"
    (dataInformation)="extendInformation($event)"></app-icon-chart>
<app-icon-chart-sole [view]="this.soleView" (dataToUpdate)="Update($event)" (dataToDelete)="Delete($event)"
(dataInformation)="extendInformation($event)"></app-icon-chart-sole>


<app-board-table [view]="this.tableView" (dataToUpdate)="Update($event)"
    (dataToDelete)="Delete($event)"></app-board-table>
<app-regular-chart [view]="this.view" (dataToUpdate)="Update($event)"
    (dataToDelete)="Delete($event)"></app-regular-chart>

<app-regular-chart-sole [view]="this.view[0]" (dataToUpdate)="Update($event)" (dataToDelete)="Delete($event)"
(dataInformation)="extendInformation($event)"></app-regular-chart-sole>

<app-board [view]="this.boardView" (dataToUpdate)="Update($event)"
(dataToDelete)="Delete($event)"></app-board>

