img.menu{
    width: 50px ;
    height: 50px ; 
}

button.menu-container{
    position: relative;
    border: none;
    padding: 0;
    background: none;
    transition: 0.3s;
}

button.menu-container:hover{
    animation: ease-in-out;

    transform: scale(1.2);
}

.dropdown{
    display: none;
    background-color: #262626;
    padding-left: 8px;
  
}

.dropdown.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: none;
}

