@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed&family=Vina+Sans&display=swap');
body {
    position: relative;
    background-color: #161A24;
    color: #fff;
    font-family: 'Roboto Condensed';
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;
}
.img-fondo{

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:20px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;

}
.img-fondo svg{
    display: flex;
    width: 100vw;
    height: 100vh;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.bloque-information {
    display: flex;
    width: 100%;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 0 20px;
    padding-right: 12px;
    justify-content: center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.snotifyToast__body{
    width: 150px;
}
.snotifyToast {
    overflow: hidden;
    position: absolute;
    left: -200px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(201, 5, 5);
    position: absolute;
    border-radius: 10px;
  }
  .fadeIn {
    position: relative;
    width: 150px;
    left: 10px;
    animation-name: fadeInAnimation;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.snotifyToast_progressBar_percentage{
    display: flex;
    height: 3px;
    background: blue;
    transition: 0.1s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
}

app-root, app-company{
    width: 100%;
    height: 100%;
}

app-homepage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
app-company{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 10px;
  }
  app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}
